* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

body {
  background: url(../img/background.png) no-repeat;
  background-size: cover;
}

.container {
  background-color: #D1D1D1;
  width: 500px;
  border-radius: 10px;
  padding: 20px;
  margin: 100px auto 0;
}

.input-task {
  border: none;
  border-radius: 10px;
  width: 300px;
  height: 40px;
  padding-left: 10px;
}

.button-add-task {
  border: none;
  border-radius: 5px;
  height: 40px;
  background-color: #003329;
  color: #FFFFFF;
  font-size: 17px;
  padding: 0 15px;
  float: right;
  cursor: pointer;
}

img {
  height: 25px;
}